<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @bid.user_id %>
</p>

<p>
  <b>Item:</b>
  <%= @bid.item_id %>
</p>

<p>
  <b>Bid amount:</b>
  <%= @bid.bid_amount %>
</p>


<%= link_to 'Edit', edit_bid_path(@bid) %> |
<%= link_to 'Back', bids_path %>
