<%= link_to 'Create Auction', new_event_path, :class => "btn btn-mini" %>
<% @events.each do |event| %>
    <% if DateTime.now <= event.donations_startdate %>
      <p><b><%= event.name.capitalize %></b> accepts donations as of 
      <%= event.donations_startdate.strftime("%B %d, %Y") %>.</p>
    <% elsif DateTime.now > event.donations_startdate %>
      <p><b><%= event.name.capitalize %></b> began accepting donations as of 
      <%= event.donations_startdate.strftime("%B %d, %Y") %>.</p>
    <% end %> 
      
    <p><b><%= event.name.capitalize %></b> runs from <%= event.start_datetime.strftime("%B %d, %Y")%>
    to <%= event.end_datetime.strftime("%B %d, %Y") %>.</p>

    <p> If this information is incorrect, you may 
    <%= link_to 'Edit Auction', edit_event_path(event) %>
    <%= link_to 'Destroy Auction', event, :method => :delete, data: { confirm: 'Choosing to destroy this auction will destroy all items, donations, bids, etc. associated with this auction. This cannot be reversed. Are you sure you want to destroy this auction?' } %></p>
    <%= render "current_form" %>
  
<% end %>
