<%= simple_form_for(@event) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, :label => "Auction name" %></br></br>
    <%= f.input :donations_startdate, :label => "Donations Start", :hint => "At this point: Donations can be made to this auction." %></br></br>
    <%= f.input :start_datetime, :label => "Auction Start", :hint => "At this point: Auction begins and donations can no longer be made." %></br></br>
    <%= f.input :end_datetime, :label => "Auction End" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
