<h1>Edit Auction</h1>

<%= simple_form_for(@event) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, :label => "Auction Name" %></br></br>
    <%= f.input :donations_startdate, :label => "Donations Start Date" %></br></br>
    <%= f.input :start_datetime, :label => "Auction Start Date" %></br></br>
    <%= f.input :end_datetime, :label => "Auction End Date" %>
    <%= f.input :current, :label => "Current Auction?", :as => :radio_buttons %> 
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
