<%if current_user.has_role? :admin %>

<h1>Admin Dashboard</h1>

<table>
  <tr>
    <th>Auction Name</th>
    <th>Donations Start Date</th>
    <th>Auction Start Date</th>
    <th>Auction End Date</th>
  </tr>

<% @events.each do |event| %>
  <tr>

    <td><%= event.name %></td>
    <td><%= event.donations_startdate.strftime("%B %d, %Y") %></td>
    <td><%= event.start_datetime.strftime("%B %d, %Y") %></td>
    <td><%= event.end_datetime.strftime("%B %d, %Y") %></td>
    <td><%= link_to 'Show', event %></td>
    <td><%= link_to 'Edit', edit_event_path(event) %></td>
  <!--   <td><%= link_to 'Destroy', event, :method => :delete, data: { confirm: 'Are you sure you want to destroy this auction?' } %></td> -->
    <td><%= render "current_form" %></td>
  </tr>
<% end %>
</table>

These will all be tabs to reports/other pages:
<p><%= link_to "review items for this auction", donations_path %></p>
<p><%= "Who won items during this auction" %></p>
<p><%= "How much money the auction made" %></p>
<p><%= "How much money are we being charged for photo data storage so far?" %></p>

<% else %>
 Only an admin may see this page.
<% end %>
