<%= link_to("End Auction", edit_event_path(@event), :class => 'btn btn-mini offset10') %>

<h1> <%= @event.name %></h1>  

<%= render 'shared/count_down_timer' %>
<%= render 'shared/auction_end_info' %>

<% @items.each do |item| %>
  <div class="row">
    <div class="span2">
      <%= image_tag(item.find_thumb_photo_url) %>
    </div>
    <div class="title-link span7">
      <%= link_to item.title, event_item_path(@event, item) %>
    </div>
    <div class="span3">
    <%= render "/shared/item_bid_information", :item => item %>
    </div>      
  </div>
  <hr/>
<% end %>
