<!-- 
<%= link_to("Edit Auction", edit_event_path(@event) , :data => { :confirm => "Are you sure you want to end this auction?" }, :class => 'btn btn-mini offset8') %>
 -->

<%= link_to("Edit Auction", edit_event_path(@event), :class => 'btn btn-mini offset10') %>

<h1>
  <%= @event.name %>
</h1>  

<div id="countDownTimer" class="span4 "></div> 
<script> var year = <%= @event.end_datetime.strftime("%Y") %>; 
         var month = <%= @event.end_datetime.strftime("%-m") %>; 
         var day = <%= @event.end_datetime.strftime("%-d") %>; 
         var eventEndDate = new Date(); 
         eventEndDate = new Date(year, month - 1, day); 
         $('#countDownTimer').countdown({until: eventEndDate}); 
</script>

<% @items.each do |item| %>
<div class="row">
  <div class="span12">
    <%= link_to item.title, event_item_path(@event, item) %>
    <div class="row">
      <div class="span9"><%= link_to image_tag(item.image_url, :height => 50), event_item_path(@event, item) %></div>
      <div class="span3">
        <% if item.bid_upon?(item) %>
          <% item.bids.each do |bid| %>          
            <font color="gray"><i>Current Bid:</i></font></br><%= number_to_currency(item.highest_bid(bid.bid_amount), :unit => "$") %>
          <% end %>
        <% end %>
        <% if item.no_bids?(item) %>
          <i><font color="gray">Start Bid:</br><%= number_to_currency(item.start_bid, :unit => "$") %></font></i>
        <% end %>
      </div>
      <%= image_tag "divider-line.gif" %>
    </div>
  </div>
</div>

<% end %>