 <%# link_to("End Auction", root_path, :data => { :confirm => "Are you sure you want to end this auction?" }, :controller => :events_controller, :action => :end_auction, :class => 'btn btn-mini offset8') %>

<%# link_to "New End Auction", root_path, :onclick => Event.find(1).update_attributes(:end_datetime => "2013:05:05 16:10:00 UTC"), :class => 'btn btn-mini offset8' %>

<%# link_to("Final attempt", root_path, :method => :put, :confirm => "Sure?") %>
 
<%= link_to("End Auction", edit_event_path(@event), :class => 'btn btn-mini offset10') %>

<h1>
  <%= @event.name %>
</h1>  

<div id="countDownTimer" class="span4 "></div> 
<script> 
  var year = <%= @event.end_datetime.strftime("%Y") %>; 
  var month = <%= @event.end_datetime.strftime("%-m") %>; 
  var day = <%= @event.end_datetime.strftime("%-d") %>; 
  var eventEndDate = new Date(); 
  eventEndDate = new Date(year, month - 1, day); 
  $('#countDownTimer').countdown({until: eventEndDate}); 
</script>
<p> This auction will end on: <%= @event.end_datetime.strftime("%B %d, %Y") %></p>

<% @items.each do |item| %>
    <%= link_to item.title, event_item_path(@event, item) %>
    <div class="row">
      <div class="span9"><%= link_to image_tag(item.image_url, :height => 50), event_item_path(@event, item) %></div>
      <% if item.bid_upon?(item) %>
      <% bidcheck = 0 %>
        <% item.bids.each do |bid| %>   
          <% if bidcheck == 0 %>       
          <font color="gray"><i>Current Bid:</i></font></br><%= number_to_currency(item.highest_bid(bid.bid_amount), :unit => "$") %>
          <% bidcheck = 1 %>
          <% end %>
        <% end %>
      <% end %>
      <% if item.no_bids?(item) %>
        <i><font color="gray">Start Bid:</br><%= number_to_currency(item.start_bid, :unit => "$") %></font></i>
      <% end %>
    </div>
    <hr />

<% end %>