<% if @event %>
  <% if @event.donations_startdate > DateTime.now %>
     <p>Thank you for visiting our site.</br>
     We will begin accepting donations for <%= @event.name %> 
     on <%= @event.donations_startdate.strftime('%b %d, %Y') %>.</br>
     Please visit then to donate.</br>
     <%= @event.name %> will open for bidding on <%= @event.start_datetime.strftime('%b %d, %Y') %>.  
     Thank you.</p>
  <% elsif @event.donations_startdate <= DateTime.now && @event.end_datetime >= DateTime.now %>
   <h1> <%= @event.name %></h1>
    <%= render 'shared/count_down_timer' %>
    <% if !event_over?(@event) %> 
      <%= render 'shared/refresh_pages' %>
    <% end %>
    <%= render 'shared/auction_end_info' %>

    <% @items.each do |item| %>
      <% @donations.each do |donation| %>
        <% if donation.item_id == item.id %>
          <% if donation.status == 1 %>
            <div class="row">
              <div class="span2">
                <%= image_tag(item.find_thumb_photo_url) %>
              </div>
              <div class="title-link span7">
                <%= link_to item.title, event_item_path(@event, item) %>
              </div>
              <div class="span3">
              <%= render "/shared/item_bid_information", :item => item %>
              </div>      
            </div>
            <hr/>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% elsif @event.end_datetime < DateTime.now %> 
    <h4><i><%= @event.name.capitalize %> ended on <%= @event.end_datetime.strftime('%b %d, %Y') %> </i></h4></br>
      <h4>NCCARF Auction Schedule:</h4></br>
    <div class="span10 offset 5">
      <% if @future_events %>
        <% @future_events.each do |future_event| %>
          <b><%= future_event.name %>:</b>(<%= future_event.start_datetime.strftime('%b %d, %Y') %> to <%= future_event.end_datetime.strftime('%b %d, %Y') %>)</br>
          Donations will be accepted for this auction after <%= future_event.donations_startdate.strftime('%b %d, %Y') %></br></br>
        <% end %>  
      <% end %>
    </div>  
  <% end %>
<% else %>
  </br>
  <h4><i>Thank you for visiting our site.  No auctions are being held at this time.</h4></i>
  <div class="span10 offset 5">
    <h4>NCCARF Auction(s) Scheduled:</h4></br>
    <% if @future_events %>
      <% @future_events.each do |future_event| %>
        <b><%= future_event.name %>:</b>(<%= future_event.start_datetime.strftime('%b %d, %Y') %> to <%=   future_event.end_datetime.strftime('%b %d, %Y') %>)</br>  
          Donations will be accepted for this auction after <%= future_event.donations_startdate.strftime('%b %d, %Y') %></br></br>
      <% end %>  
    <% end %>
  </div>
  <div class = "span 12">
    <h4><i><p>Please check back again later or <%= link_to 'contact us' %> for more information.</p></i></h4>    
  </div>  
<% end %> 