<%if current_user.has_role? :admin %>
  <h1>Review Items</h1>

  <%= render 'shared/count_down_timer' %>
  <% if !event_over?(@event) %>
    <%= render 'shared/refresh_pages' %>
  <% end %>
  <%= render 'shared/auction_end_info' %>

  <% if @donations.blank? %>
  There are no donations pending approval.
  <% else %>
    <% @items.each do |item| %>
      <% @donations.each do |donation| %>
        <% if donation.item_id == item.id && donation.hidden != true %>
          <div class="row">
            <div class="span2"><%= image_tag(item.find_thumb_photo_url) %></div>
            <div class="title-size span5">
              <h4><%= item.title %></br>    <i>Start bid:</i>$<%= number_with_precision(item.top_bid_amount, :precision => 0) %></h4>
              <p><%= item.description %></p>  
            </div>
            <div class="span3 offset2">
              <% if !event_over?(item.event) %>
                <% if donation.status == 0 %>
                  <%= render "/shared/donation_form", :donation => donation %>
                <% elsif donation.status == 1 %>
                  <div class="approved">Approved</div>
                  <%= render "/shared/hide_record_form", :donation => donation %>
                <% elsif donation.status == 2 %>
                  <div class="rejected">Rejected</div></br>
                  <div>Comment: <%= donation.comment %></div>
                <% end %>
              <% end %>  
            </div>
          </div>
        <hr />        
       <% end %>
      <% end %>
    <% end %>
  <% end %>
<% else %>
  </br><i><h2>We're sorry but this page is for auction administrators only.</i></h2>
<% end %>