<%if current_user.has_role? :admin %>
  <h1>Review Items</h1>

  <script>
   function show(champ){
    $('tbody tr').hide()   
    $('tbody tr:has(a.'+champ+')').show()
   }
  </script>

  <button onclick="show(&quot;pending&quot;)" class="btn btn-mini">Show Pending</button>
  <button onclick="show(&quot;approve&quot;)" class="btn btn-mini">Show Approved</button>
  <button onclick="show(&quot;reject&quot;)" class="btn btn-mini">Show Rejected</button>
  <button onclick="$('tbody tr').show()  " class="btn btn-mini">Show all</button></br></br>

  <% if @donations.blank? %>
    There are no donations pending approval.
  <% else %>
     <% @items.each do |item| %>
        <% @donations.each do |donation| %>    
          <% if donation.item_id == item.id && donation.hidden != true %>
            <table class="table table-hover">
            <tbody>
              <tr class="span12">
                <td class="span2"><%= image_tag(item.find_thumb_photo_url) %></td>
                <td class="span8"><h4><%= item.title %></br>    
                  <i>Start bid:</i>$<%= number_with_precision(item.top_bid_amount, :precision => 0) %>
                  </h4>
                  <%= item.description %></td>
                <td class="span3"></td>    
                <td class="span4">
                  <% if !event_over?(item.event) %>
                    <% if donation.status == 0 %>
                      <a class="pending"><div class="approved">Pending</div></a>
                      <%= render "/shared/donation_form", :donation => donation %>
                      <div>This item was submitted on: <%= item.created_at.strftime('%b %d, %Y') %></div></td> 
                    <% elsif donation.status == 1 %>
                      <a class="approve"><div class="approved">Approved</div></a>
                      <%= render "/shared/hide_record_form", :donation => donation %>
                      <div>This item was approved on: <%= item.donation.status_created_at.strftime('%b %d, %Y') %></div></td> 
                    <% elsif donation.status == 2 %>
                      <a class="reject"><div class="rejected">Rejected</div></a>
                      <div>Comment: <%= donation.comment %></div></br>
                      </div></td>
                    <% end %>           
                  <% end %>                  
              </tr>
      </tbody>
  </table>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% else %>
  </br><i><h2>We're sorry but this page is for auction administrators only.</i></h2> 
<% end %>
