<h1>
  <%= @event.name %>
</h1>  

<%= render 'shared/count_down_timer' %>
<% if !event_over?(@event) %> 
  <%= render 'shared/refresh_pages' %>
<% end %>
<%= render 'shared/auction_end_info' %>
</br>

<div class="row">
  <div class="span3">
    <%= image_tag(@item.find_photo_url) %>
  </div>
  <div class="span5">
    <h4><%= @item.title.capitalize %></br>
    Start Bid: $<%= @item.start_bid %></br></h4>
    Description: <%= @item.description %>
  </div>
  <div class="span1"> 
  </div>
  <div class="span3">
  	<h4>Administrator Comment:</h4></br>
    <h4><i><%= @donation.comment %></i></h4>
  </div>
  <% if !event_over?(@event) %>
    <div class="span5"><h4><%= link_to 'Edit item', edit_event_item_path(@event, @item) %> and resubmit for approval</h4></div>
  <% end %>   
</div>      
<hr />
</div>

<%= link_to 'Back', _my_donations_path %>