<!-- this form not called for 'donate item' and for 'edit item' anymore because will need different info for edit than new from sponsor or seller, this form is used only by 'edit item' -->
<%= simple_form_for ([@event, @item]) do |f| %>
  <%= f.error_notification %>
       
    <%= f.input :title %>
    <%= f.fields_for :photos do |p| %>
      <!-- logic here to show either existing image OR preview of selected image -->
      <%= p.label "Change photo?" %>
      <%= p.file_field :image %>
      <%= p.hidden_field :item_id, :value => @item.id %>
    <% end %>

    <%= f.input :description %>
    <div id="donate-dollar-sign">$</div>
    <%= f.input :start_bid %>

    <% if current_user.has_role? :admin %>
      <%= f.fields_for :donation do |builder| %>
        <%= builder.hidden_field :item_id, :value => @item.id %>
        <%= builder.hidden_field :status, :value => "1" %>
        <%= submit_tag("Approve Revised Donation", :class => "btn btn-large btn-primary")  %>
        </br></br>
        <%= link_to 'Back', donations_path %>
      <% end %>      
    <% else %>
      <%= f.fields_for :donation do |builder| %>
        <%= builder.hidden_field :user_id, :value => @user.id %>
        <%= builder.check_box :status, :style => 'visibility: hidden', :value=>"0" %>
        <%= f.button :submit, 'Submit Item for Approval', :confirm => "Are you sure? Once approved, donations cannot be retracted.", :class => "btn btn-small btn-primary" %>
      </br></br>
        <%= link_to 'Cancel', _my_donations_path %>
      <% end %> 
    <% end %>
<% end %>