<%= simple_form_for (@item) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.fields_for :user do |builder| %>
      <%= builder.hidden_field :user_id, :value => @user.id %>
    <% end %>
    
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :start_bid %>
  </div>



  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
