<h1>Listing items</h1>

<table>
  <tr>
    <th></th>
    <th>Title</th>
    <th>Description</th>
    <th>Start bid</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @items.each do |item| %>
  <tr>
    <td><%= image_tag(item.image_url, :height => 50) %></td>
    <td><%= item.title %></td>
    <td><%= item.description %></td>
    <td><%= number_to_currency(item.start_bid, :unit => "$") %></td>
    <td><%= link_to 'Show', item %></td>
  </tr>
<% end %>
</table>
