
<%= link_to("End Auction", edit_event_path(@event), :class => 'btn btn-mini offset10') %>

<h1> My Bids </h1>

<%= render 'shared/count_down_timer' %>
<%= render 'shared/auction_end_info' %>


<script>

function timedRefresh(timeoutPeriod) {
  setTimeout("location.reload(true);",timeoutPeriod);
}

</script>

<body onload="JavaScript:timedRefresh(10000);">


<% if @bids.blank? %>
  <i><%= "You have not yet bid on any items." %></br>
    <%= "Please go to " %>
    <%= link_to "Auction Items", event_path(Event.find_by_current(true)) %>
    <%= " to see items up for bid" %></i>
<% else %>  

<% @items.each do |item| %>
  <% bidcheck = 0 %>
  <% @bids.each do |bid| %>
    <% if bidcheck == 0 %>
      <% if bid.item_id == item.id  %>
        <% bidcheck = 1 %>
        <div class="row">
          <div class="span2"><%= image_tag(item.find_thumb_photo_url) %></div>
          <div class="title-size span7"><%= item.title %></div>
          <div class="span3">
            <% if !event_over?(item.event) %>
              <% if item.top_bid_me?(current_user.id) %>
                <i>Your bid:</i>$<%= number_with_precision(item.top_bid_amount, :precision => 0) %></br>
                <p><span class="label label-success"> Current Top Bidder <i class="icon-thumbs-up"></i> </span></p>
              <% else %>         
                <i>Current bid:</i>$<%= number_with_precision(item.top_bid_amount, :precision => 0) %></br>
                <p class = "text-error"> Not Top Bidder <i class="icon-thumbs-down"></i> </p>
                <%= render 'shared/bid_form', :item => item %>
              <% end %>
            <% else %>
              <i>Final bid:</i><%= number_to_currency(item.top_bid_amount, :unit => "$") %>
              <% if item.top_bid_me?(current_user.id) %>
                </br><span class="label label-success">You won!</span>
              <% end %>
              <% bidcheck = 1 %>
            <% end %>  
            </br>
          </div>
        </div>
        <hr />
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>