<h1> My Donations </h1>

<%= render 'shared/count_down_timer' %>
<% if !event_over?(@event) %> 
<%= render 'shared/refresh_pages' %>
<% end %>
<%= render 'shared/auction_end_info' %>

<% if @donations.blank? %>
  <% if !event_over?(@event) %> 
    <i><%= "You have not donated any items to this auction." %></br>
      <%= "Please go to " %>
      <%= link_to "Donate Item", new_event_item_path(Event.find_by_current(true)) %>
      <%= " if you would like to." %></br></br>
      <%= "Thank you." %>
    </i>
  <% else %>
    <i><%= "You did not donate any items to this auction." %></i>
  <% end %>
<% else %>
  <% @items.each do |item| %>
    <% @donations.each do |donation| %>    
      <% if donation.item_id == item.id %>
        <div class="row">
          <div class="span2"><%= image_tag(item.find_thumb_photo_url) %></div>
          <div class="title-size span6">
            <h4><%= item.title %></h4>
            <p><%= item.description %></p>
          </div>
          <div class="span1"></div>
        <div class="span3">
          <% if donation.status == 0 %>
            <div class="approved">Pending</div></br>
          <% elsif donation.status == 1 %>
            <div class="approved">Approved</div></br>
          <% elsif donation.status == 2 %>
            <div class="rejected">Donation not approved</div></br>
            <p>Please see administrator <%= link_to "comments", donation_path(item.donation) %>.</p>
          <% end %>
          <% if !event_over?(item.event) %>
            <% if item.bids.empty? %>
              <i>Start bid:</i>$<%= number_with_precision(item.top_bid_amount, :precision => 0) %>
            <% else %>
              <i>Current bid:</i>$<%= number_with_precision(item.top_bid_amount, :precision => 0) %>
            <% end %>
          <% else %>
            <% if item.bids.empty? %>
              <i>This item was not sold.</i>
            <% else %>
              <span class = "bid_amount"><i>This item sold for: </i>$<%= number_with_precision(item.top_bid_amount, :precision => 0) %>
              </span>
            <% end %>
          <% end %>  
        </div>
      </div>
      <hr />        
     <% end %>
    <% end %>
  <% end %>
<% end %>