<p> 
<%= image_tag(@item.image_url, :height => 50) %>
</p>

<p>
  <b>Item Name:</b>
  <%= @item.title %>
</p>

<p>
  <b>Description:</b>
  <%= @item.description %>
</p>

<p>
  <b>Starting bid:</b>
  <%= number_to_currency(@item.start_bid, :unit => "$") %>
</p>

<%= render "/shared/item_show_bid_form" %>

<%= link_to 'Back to Auction Items', items_path %>