
<h1>
  <%= @event.name %>
</h1>  

<%= render 'shared/count_down_timer' %>

<p> This auction will end on: <%= @event.end_datetime.strftime("%B %d, %Y") %></p>
</br>
    <h4><%= @item.title.capitalize %></h4>
    <div class="row">
      <div class="span9">
        <%= image_tag(@item.find_photo_url) %>
      </div>
      <%= render "/shared/item_bid_information", :item => @item %>
      </div>      
      <%= @item.description %>
    <hr />
  <%= link_to 'Back to Auction Items List', root_url %>

  </div>
