<body onload="JavaScript:timedRefresh(10000);">
<h1>
  <%= @event.name %>
</h1>  

<%= render 'shared/count_down_timer' %>
<%= render 'shared/auction_end_info' %>
</br>
    <div class="row">
      <div class="span3">
        <%= image_tag(@item.find_photo_url) %>
      </div>
      <div class="span5">
        <h4><%= @item.title.capitalize %></h4>
        <%= @item.description %>
      </div>
      <div class="span1"> 
      </div>
      <div class="span3">
        <%= render "/shared/item_bid_information", :item => @item %>
      </div>
    </div>      
    <hr />
  <%= link_to 'Back to Auction Items List', root_url %>

  </div>
