<% if user_signed_in? %>
  <nav>
    <ul class="nav">
      <li><%= image_tag "nccarf_logo.gif" %></li>
      <%= nav_link 'Auction Items', root_path %>
      <%= nav_link 'My Bids', _my_bids_path %>
      <%= nav_link 'Donate Item', new_event_item_path(Event.find_by_current(true)) %>
      <%= nav_link 'My Donations', _my_donations_path %>
    </ul>
  </nav>  

  <ul class="nav pull-right">
<!--     <% if current_user.has_role? :admin %>
      <li>
        <%= link_to 'Admin', users_path %>
      </li>
    <% end %> -->
    <li>
    <%= nav_link 'Edit Account', edit_user_registration_path %>
    </li>
    <li>
    <%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %>
    </li>
  
  </ul>

<% else %>
  <%= link_to image_tag("nccarf_logo.gif"), root_path %>
  <span id="subtitle">
    <b>The Northern California Chapter of the Autism Research Foundation</b>
  </span>
  <ul class="nav pull-right">
    <li>
    <%= link_to 'Login', new_user_session_path %>
    </li>
    <li>
    <%= link_to 'Sign up', new_user_registration_path %>
    </li>
  </ul>
<% end %>
