<% if user_signed_in? %>
  <ul class="nav">
    <li>
      <%= image_tag "nccarf_logo.gif" %>
    </li>
    <li>
      <%= link_to 'Auction Items', items_path %>
    </li>
  </ul>

  <ul class="nav pull-right">
<!--     <% if current_user.has_role? :admin %>
      <li>
        <%= link_to 'Admin', users_path %>
      </li>
    <% end %> -->
    <li>
    <%= link_to 'Edit account', edit_user_registration_path %>
    </li>
    <li> <%= link_to 'My Bids', _my_bids_path %>
    </li>
    <li>
    <%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %>
    </li>
  
  </ul>

<% else %>
  <%= link_to image_tag("nccarf_logo.gif"), root_path %>
  <span id="subtitle">
    <b>The Northern California Chapter of the Autism Research Foundation</b>
  </span>
  <ul class="nav pull-right">
    <li>
    <%= link_to 'Login', new_user_session_path %>
    </li>
    <li>
    <%= link_to 'Sign up', new_user_registration_path %>
    </li>
  </ul>
<% end %>
